<configuration debug="true">
    <!-- Appender для консоли -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender для записи в файл -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/sql.log</file>
        <append>true</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <!-- Фильтр для исключения сообщений INFO -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
    </appender>

    <!-- Логгер для SQL запросов -->
    <logger name="Exposed" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- Корневой логгер -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
